@{
    ViewBag.Title = "登录";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Change官网 - @ViewBag</title>
    <link href="/css/global.css" rel="stylesheet" type="text/css">
    <link href="/css/Site.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="all">
        <!--头部-->
        <div id="head">
            <ul>
                <li id="headone"><a href="/Home/Index"> <img src="/images/logo/logo.png" alt="Change官网" /></a></li>
                <li id="headtwo"><a href="/Home/Index">☞Change商城</a>
                [ <a href="/Home/Login">登录</a> | <a href="/Home/Register">注册</a> ]
                </li> 
                <div class="clear"></div>
            </ul>
        </div>
        <!--登录窗体-->
        <div id="middle">
            <div id="login">
                <h2>用户登录</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="red">@ViewBag.msg</div>
                @using (Html.BeginForm("Login", "Home"))
                {
                    <input type="text" name="UserName" class="text" placeholder="请输入账号"  />
                    <input type="password" name="Pwd" class="text" placeholder="请输入密码"   />
                    <input type="submit" class="btn" value="登  录" />
                }
            </div>
        </div>
        <!--尾部-->
        <div id="foots">
            <div id="copy"> <p>©2016 Change Technology official website retains all rights.鄂ICP备16001830号</p></div>
        </div>
    </div>
</body>
</html>


